<div class="header">
  <h2>Blog</h2>
</div>

<div>
  <div class="leftcolumn">
    <div class = "card">
      <h3> FORM, FORM, FORM </h3>
      <h5> Change these three things in your form to save your body from fatigue, 11/29/2021 </h5>
      <div class ="sampleimg" style ="height: 200px "> Pitcher </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in velit et risus aliquam semper at vitae dui. Aliquam sed quam ipsum. Proin tempus diam eget elit sodales dapibus. Sed aliquam condimentum commodo. Nunc bibendum elementum nibh, sed consectetur nunc tristique sit amet. Vestibulum id libero non dui vehicula mattis. Etiam fringilla quam eros, id laoreet quam dictum ut. Donec vel fermentum tortor. Aliquam quis maximus leo. Maecenas vel ex vehicula, commodo magna et, porttitor ex.

      Vivamus vulputate posuere sollicitudin. Ut tempus, mauris a vestibulum convallis, sem quam tincidunt lacus, in consectetur sem magna vitae risus. Pellentesque ornare, risus ac mollis sagittis, ex est bibendum eros, eu commodo augue sapien ac metus. Sed nec turpis est. Aliquam tempus vestibulum libero, ut vulputate ligula posuere ut. Donec vel vehicula libero, eget rhoncus est. Nulla ultricies, lorem quis iaculis porttitor, est lacus maximus ante, in ornare sem libero suscipit ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eget dolor eget magna lobortis sodales. Fusce hendrerit turpis quis orci scelerisque accumsan.
      
      Aenean nulla sem, euismod nec nunc ut, facilisis laoreet sem. Praesent laoreet sodales facilisis. Proin tortor risus, finibus a tempor vitae, egestas id erat. Curabitur vitae tempor dolor, vehicula feugiat felis. Suspendisse potenti. Fusce rhoncus, augue et dignissim gravida, lectus metus fermentum justo, quis suscipit nunc elit eu arcu. Quisque et imperdiet ante. Maecenas magna dui, vehicula ac ipsum ut, pellentesque volutpat ante. Aenean vestibulum tellus non est placerat vulputate. Morbi sem tellus, condimentum vel dolor non, lobortis iaculis felis. Morbi velit ante, posuere vel felis quis, dignissim pharetra turpis. Mauris ac nibh posuere, posuere risus nec, congue eros. Maecenas a velit id sapien aliquet malesuada. Fusce molestie consectetur ante, ac faucibus turpis egestas a.
      
      Maecenas at viverra purus, accumsan malesuada ex. Suspendisse sollicitudin, purus ac semper vehicula, quam orci vulputate erat, eu lobortis sem ex a orci. Sed vitae nibh at ligula consequat dignissim eu nec tortor. Proin in est ac purus auctor mattis at sagittis purus. Maecenas commodo odio vel mollis ornare. Vivamus volutpat ex ut diam hendrerit condimentum. Aliquam erat volutpat. Suspendisse non posuere sapien. Curabitur eget felis ac magna ultricies imperdiet id quis eros.
      
      Pellentesque tempor vel lectus sit amet auctor. Ut volutpat est et nulla mollis, nec auctor ex consectetur. Phasellus ac urna mi. Nunc ipsum turpis, suscipit non tincidunt varius, imperdiet rutrum dui. Quisque volutpat, enim quis porttitor eleifend, massa est eleifend sapien, vel interdum ex quam quis purus. Maecenas tincidunt mauris nec leo rhoncus, dapibus vulputate massa pellentesque. Proin imperdiet tempus ex eu cursus. 
    </p> 
  </div>  
</div>  