<h1>Workout Planner</h1>

<table>
  <tr>
    <th>Workout</th>
    <th>Sets</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let workout of workouts; let i = index">
    <td>{{ workout.workout }}</td>
    <td>{{ workout.Set }}</td>
    <td (click)="onDelete(i)">x</td>
  </tr>
</table>

<div>
  <input type="text" [(ngModel)]="workout"  />
  <input type="text" [(ngModel)]="set"/>
  <button (click)="onAddWorkout()">Add Workout</button>
  
  <hr/>
  <!-- <button (click)="onAddSet()">Add Set</button> -->
</div>
<h2> Timer: {{ timeLeft }} <button (click)="startRest()">Start Timer </button> </h2>
